.flip-clock-wrapper {
  font-size: 1em;
  margin: 0 !important;
}
@media screen and (max-width: 500px) {
  .flip-clock-wrapper ul {
    height: 33.75px !important;
    width: 22.5px !important;
  }
  .flip-clock-divider {
    height: 33.75px !important;
    width: 10px !important;
  }
  .flip-clock-dot {
    width: 5px !important;
    height: 5px !important;
    left: 2.5px !important;
  }
  .flip-clock-dot.bottom {
    bottom: 15px !important;
  }
  .flip-clock-wrapper ul li a div {
    font-size: 22.5px !important;
  }
  .flip-clock-wrapper ul li {
    line-height: 32.6px !important;
  }
  .flip-clock-divider .flip-clock-label {
    right: -3.5em !important;
}
